.container-card{
  width: 90%;
  margin: auto;
}
.container-card h2{
  text-align:center;
}
.card-hasil{
  padding: 10px;
  width: 20%;
  border: 2px solid;
  border-radius: 3px;
  margin-bottom: 35px;
}
.card-hasil h5{
  font-size: 1.2rem;
  margin: 3px 0 8px 0;
}
.card-hasil p{
  margin: 3px 0;
  width: 65%;
  font-size: 13px;
}
.wrapper-card{
  display: flex;
    justify-content: space-evenly;
    flex-flow: wrap;
}
.card-hasil>div{
  display: flex;
}
.card-hasil h4{
  margin: 0;
  font-size: 13px;
}
.card-hasil h6{
  font-size: 8px;
  margin: 0;
}
.card-hasil h3{
  margin: 0;
  width: 65%;
}
.wrapper-global-virus{
  display: flex;
    justify-content: center;
}
.card-global{
  width: 30%;
  border: 2px solid blue;
  border-radius: 4px;
  box-shadow: 0px 2px 3px 0px blue;
  padding: 10px;
}
.card-global h1{
  margin: 0 0 10px 0;
  font-size: 20px;
}
.card-global>div{
  display: flex;
  align-items: center;
}
.card-global p{
  font-size: 17px;
  margin: 0;
  width: 65%;
}
.card-global h2{
  margin: 0;
}

@media screen and (max-width: 991px) {
  .card-hasil {
    width: 40%;
  }
}

@media screen and (max-width: 480px) {
  .card-hasil {
    width: 80%;
  }
}
@media screen and (min-width: 1024px) {
  .card-hasil {
    width: 27%;
  }
}
@media screen and (min-width: 1144px) {
  .card-hasil {
    width: 20%;
  }
}